<%+header%>

<!-- MBA SW Sean, put your content here, the header & footer already contain the body xml tag -->
<script type="text/javascript">
<%
local lan_ip = uci.get("network", "lan", "ipaddr")
%>
var url ="<%=controller%>/content/system_settings/log"; //current page url

//MBA Sean, Cancel Button script
function btnCancel()
{
	location.href=url;
	return true;
}

function btnClean()
{
	/*MSTC MBA Sean, put csrf token in the input field*/
	var f = document.log;
	
	if( f.csrf_token == undefined ) {
		var input = document.createElement('input');
		input.type = 'hidden';
		input.name = 'csrf_token';
		input.id = 'csrf_token'
		input.value = csrf_token;
		f.appendChild(input);
	} else {
		f.csrf_token.value = csrf_token;
	}

	$("input[name='isClean']").val(1);
	$("input[name='isSave']").val(0);

    $("#content_send").submit();
	
	setTimeout( function () { 
		location.href = url;
	}, 1000);
	
	return false;
}

function btnSave()
{
	/*MSTC MBA Sean, put csrf token in the input field*/
	var f = document.log;
	
	if( f.csrf_token == undefined ) {
		var input = document.createElement('input');
		input.type = 'hidden';
		input.name = 'csrf_token';
		input.id = 'csrf_token'
		input.value = csrf_token;
		f.appendChild(input);
	} else {
		f.csrf_token.value = csrf_token;
	}
	
	$("input[name='isClean']").val(0);
	$("input[name='isSave']").val(1);

	$("#content_send").submit();
	
	//MSTC MBA Sean, Check Cookie to find out user has download the file or not.
	var check_file_timeout = 0;
	setInterval(function(){
		if (document.cookie.match(/^(.*;)?file_loading=[^;]+(.*)?$/)) {
			// clean the cookie for future downoads
			document.cookie = 'file_loading=; Max-Age=0';
			//redirect
			location.href = url;
		}
		//wait 2.5 sec, if it can't get cookie, redirect anyway
			check_file_timeout++;
			if(check_file_timeout > 5) {
				location.href = url;
			}
	},500);

	return false;
}

<%
	--MBA Sean, get the waiting time, default is 30 secs
	local uci_t = require("luci.model.uci").cursor()
	local original_confdir = uci_t.get_confdir()
	uci_t.set_confdir("/etc/tmp_config")
	local waiting_time_uci = uci_t.get("web", "gui_config", "network_apply_waiting_time")
	local waiting_time = 30;

	if waiting_time_uci then
		waiting_time = waiting_time_uci
	end

	uci_t.set_confdir(original_confdir)
%>

var seconds=<%=waiting_time%>;
function waiting()
{
	(seconds <= 0) ? seconds=0 : seconds-=1;
	document.getElementById("wait_time").value = seconds;

	if(seconds == 0){
		location.href = url;
		return true;
	}

	setTimeout('waiting()',1000);
}

function frmLoad(){
	//MSTC MBA, Sean, if old cookie exist, remove it
	document.cookie = 'file_loading=; Max-Age=0'
}
</script>
<div id="content">
<form id="content_send" name="log" method="POST">
<blockquote>
<table border="0" width="90%">
	<tbody>
		<tr align="left">
			<td width="100%">
				<%:Display the log.%>
			</td>
		</tr>
		<tr align="left">
			<td width="100%">
				<textarea cols="72" readOnly rows="9" wrap="off" edit="off" style="color:Navy">
<%
local rfile=io.open("/tmp/simple_log.log", "r")
if rfile~=nil then
	for str in rfile:lines() do
		if string.len(str) ~= 0 then
			print(str)
		end
	end  
	rfile:close()
end
%></textarea>
			</td>
		</tr>
		<tr align="left">
			<td width="100%">
				<input type="button" value="<%:Save%>" onClick="return btnSave()" width="105" height="30" border="0"/>
				<input type="button" value="<%:Clean%>" onClick="return btnClean()"/>
				<input type="button" value="<%:Refresh%>" onclick="return btnCancel()"/>
				<input type="hidden" value="0" name="isClean"/>
				<input type="hidden" value="1" name="isSave"/>
			</td>
		</tr>
	</tbody>
</table>
</blockquote>
</form>
</div>
<%+footer%>
