<%
--require("luci.i18n").loadc("default")
local i18n = require("luci.i18n")
require("luci.http").prepare_content("text/html")
local uci = require("luci.model.uci").cursor()
local lang = uci:get("luci","main","lang")
i18n.load("admin-core",lang)
i18n.setlanguage(lang)
-%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"  />
<title>.::<%:welcome_title_message%>::.</title>
<link href="<%=media%>/css/expert.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<%=media%>/js/jquery-1.3.1.min.js"></script>
<script type="text/javascript" src="<%=media%>/js/baseJS.js" ></script>
<script>
$(document).ready(function()
{		
	path_msg_init();
});
var InitMode;
function path_msg_init(){
	showFullPath(' <%:maintenance%> > <%:oled_display%>');
	showWebMessage( 0, '<%:Message%>', '<%:Ready%>' );
}

function SetOLEDDisplayTime()
{
		if(document.getElementById("oled_displayTime").value == "0"){
			document.getElementById("_oled_displayTime").value = 0;
		}else if (document.getElementById("oled_displayTime").value == "30"){
			document.getElementById("_oled_displayTime").value = 30;
		}else if (document.getElementById("oled_displayTime").value == "60"){
			document.getElementById("_oled_displayTime").value = 60;
		}else if (document.getElementById("oled_displayTime").value == "300"){
			document.getElementById("_oled_displayTime").value = 300;
		}else if (document.getElementById("oled_displayTime").value == "600"){
			document.getElementById("_oled_displayTime").value = 600;
		}else{
			alert("Configuration error");
		}
}




function submit_apply()
{	
	SetOLEDDisplayTime();
}

</script>
</head>
<body>
<form onSubmit="return submit_apply()" method="post" name="OLEDForm" id="OLEDForm" action="<%=controller%>/expert/maintenance/oled">

<div id="tabs">
  <ul>
	<li class="hightline"><a title="<%:oled_display%>"><span><%:oled_display%></span></a></li>
  </ul>
  <br class="clearfloat" />
</div>
<!-- Tab --> 
<form name="oled_config">
<div id="table">
  <ul>
    <li class="table_top"></li>
    <li class="table_content">
		<div class="data"> 
			<ul>
				<div>
					<%							
					local oled_displayTime = uci.get("mtoled","oled","sleeptime")
					%>				
					<div class="w_text">		
						<ul>
							<li class="left_table"><span><%:oled_display_time_sel%></span></li>
							<li class="right_table">
								<select name="oled_displayTime" id="oled_displayTime" size="1" >						
										<option value="0" <% if oled_displayTime == "0" then %>selected="selected"<% end %> ><%:oled_0_sec%></option>
										<option value="30" <% if oled_displayTime == "30" then %>selected="selected"<% end %> ><%:oled_30_sec%></option>
										<option value="60" <% if oled_displayTime == "60" then %>selected="selected"<% end %> ><%:oled_60_sec%></option>
										<option value="300" <% if oled_displayTime == "300" then %>selected="selected"<% end %> ><%:oled_300_sec%></option>
										<option value="600" <% if oled_displayTime == "600" then %>selected="selected"<% end %> ><%:oled_600_sec%></option>
								</select>
								<input name="_oled_displayTime" id="_oled_displayTime" type="hidden" value="0"/> 
							</li>
						</ul>
					</div>	  
				</div>	  
				<div class="spaceair"></div>    
				<div class="w_text"><span class="i_note"><%:oled_note%></span></div>
				<div class="w_text"><span class="i_note_a"><%:oled_0_sec%> :</span></div>
				<div class="w_text">
					<span class="a.note">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<%:oled_note_1%></br>
					</span>
				</div>
				<div class="button">
					<center>  
						<input name="sysSubmit" value="<%:apply%>" type="submit" />
						&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
						<input name="Cancel" value="<%:cancel%>" type="button" onclick="window.location.href=window.location.href" /> 
					</center>	
				</div>	
				<div class="space"></div>								
				<div>						
					<div class="w_text"><span><%:oled_clear_wan_count%></span></div>	

				</div>
				<div class="w_text">- <%:oled_clear_wan_count_warn%></div>
				<div class="button">
					<center>  
						<input name="sysClear" value="<%:clear%>" type="submit" />
						&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp						
					</center>	
				</div>					
				<div class="spaceair"></div>  
			 </ul>				
		 </div>
     </li>
     <li class="table_button">	
	 </li>
  </ul>
</div>
</form>
</body>
</html>