<HTML>
<HEAD>
<script type="text/javascript">

var cateReasonMap={
	0:{
		category:"",
		content:""
	},
	101:{
		category:"<%:category_101%>", 
		content:"<%:category_101 content%>"
	},
	102:{
		category:"<%:category_102%>", 
		content:"<%:category_102 content%>"
	},
	201:{
		category:"<%:category_201%>", 
		content:"<%:category_201 content%>"
	},
	202:{
		category:"<%:category_202%>", 
		content:"<%:category_202 content%>"
	},
	313:{
		category:"<%:category_313%>", 
		content:"<%:category_313 content%>"
	},
	601:{
		category:"<%:category_601%>", 
		content:"<%:category_601 content%>"
	},
	602:{
		category:"<%:category_602%>", 
		content:"<%:category_602 content%>"
	},
	301:{
		category:"<%:category_301%>", 
		content:"<%:category_301 content%>"
	},
	302:{
		category:"<%:category_302%>", 
		content:"<%:category_302 content%>"
	},
	314:{
		category:"<%:category_314%>", 
		content:"<%:category_314 content%>"
	},
	1801:{
		category:"<%:category_1801%>", 
		content:"<%:category_1801 content%>"
	},
	401:{
		category:"<%:category_401%>", 
		content:"<%:category_401 content%>"
	},
	402:{
		category:"<%:category_402%>", 
		content:"<%:category_402 content%>"
	},
	403:{
		category:"<%:category_403%>", 
		content:"<%:category_403 content%>"
	},
	404:{
		category:"<%:category_404%>", 
		content:"<%:category_404 content%>"
	},
	405:{
		category:"<%:category_405%>", 
		content:"<%:category_405 content%>"
	},
	406:{
		category:"<%:category_406%>", 
		content:"<%:category_406 content%>"
	},
	315:{
		category:"<%:category_315%>", 
		content:"<%:category_315 content%>"
	},
	501:{
		category:"<%:category_501%>", 
		content:"<%:category_501 content%>"
	},
	502:{
		category:"<%:category_502%>", 
		content:"<%:category_502 content%>"
	},
	503:{
		category:"<%:category_503%>", 
		content:"<%:category_503 content%>"
	},
	1103:{
		category:"<%:category_1103%>", 
		content:"<%:category_1103 content%>"
	},
	1102:{
		category:"<%:category_1102%>", 
		content:"<%:category_1102 content%>"
	},
	1101:{
		category:"<%:category_1101%>", 
		content:"<%:category_1101 content%>"
	},
	1201:{
		category:"<%:category_1201%>", 
		content:"<%:category_1201 content%>"
	},
	1202:{
		category:"<%:category_1202%>", 
		content:"<%:category_1202 content%>"
	},
	1301:{
		category:"<%:category_1301%>", 
		content:"<%:category_1301 content%>"
	},
	1302:{
		category:"<%:category_1302%>", 
		content:"<%:category_1302 content%>"
	},
	1303:{
		category:"<%:category_1303%>", 
		content:"<%:category_1303 content%>"
	},
	1501:{
		category:"<%:category_1501%>", 
		content:"<%:category_1501 content%>"
	},
	1601:{
		category:"<%:category_1601%>", 
		content:"<%:category_1601 content%>"
	},
	1211:{
		category:"<%:category_1211%>", 
		content:"<%:category_1211 content%>"
	},
	1212:{
		category:"<%:category_1212%>", 
		content:"<%:category_1212 content%>"
	},
	1311:{
		category:"<%:category_1311%>", 
		content:"<%:category_1311 content%>"
	},
	1312:{
		category:"<%:category_1312%>", 
		content:"<%:category_1312 content%>"
	},
	1313:{
		category:"<%:category_1313%>", 
		content:"<%:category_1313 content%>"
	},
	1511:{
		category:"<%:category_1511%>", 
		content:"<%:category_1511 content%>"
	},
	1611:{
		category:"<%:category_1611%>", 
		content:"<%:category_1611 content%>"
	},
	1221:{
		category:"<%:category_1221%>", 
		content:"<%:category_1221 content%>"
	},
	1222:{
		category:"<%:category_1222%>", 
		content:"<%:category_1222 content%>"
	},	
	1321:{
		category:"<%:category_1321%>", 
		content:"<%:category_1321 content%>"
	},
	1322:{
		category:"<%:category_1322%>", 
		content:"<%:category_1322 content%>"
	},	
	1323:{
		category:"<%:category_1323%>", 
		content:"<%:category_1323 content%>"
	},
	1521:{
		category:"<%:category_1521%>", 
		content:"<%:category_1521 content%>"
	},
	1621:{
		category:"<%:category_1621%>", 
		content:"<%:category_1621 content%>"
	},
	1231:{
		category:"<%:category_1231%>", 
		content:"<%:category_1231 content%>"
	},			
	1232:{
		category:"<%:category_1232%>", 
		content:"<%:category_1232 content%>"
	},
	1331:{
		category:"<%:category_1331%>", 
		content:"<%:category_1331 content%>"
	},			
	1332:{
		category:"<%:category_1332%>", 
		content:"<%:category_1332 content%>"
	},
	1333:{
		category:"<%:category_1333%>", 
		content:"<%:category_1333 content%>"
	},			
	1531:{
		category:"<%:category_1531%>", 
		content:"<%:category_1531 content%>"
	},
	1631:{
		category:"<%:category_1631%>", 
		content:"<%:category_1631 content%>"
	},		
	801:{
		category:"<%:category_801%>", 
		content:"<%:category_801 content%>"
	},
	802:{
		category:"<%:category_802%>", 
		content:"<%:category_802 content%>"
	},

	2003:{
		category:"<%:category_2003%>", 
		content:"<%:category_2003 content%>"
	},
	2002:{
		category:"<%:category_2002%>", 
		content:"<%:category_2002 content%>"
	},
	2001:{
		category:"<%:category_2001%>", 
		content:"<%:category_2001 content%>"
	},
	2005:{
		category:"<%:category_2005%>", 
		content:"<%:category_2005 content%>"
	},
	2101:{
		category:"<%:category_2101%>", 
		content:"<%:category_2101 content%>"
	},
	303:{
		category:"<%:category_303%>", 
		content:"<%:category_303 content%>"
	},
	305:{
		category:"<%:category_305%>", 
		content:"<%:category_305 content%>"
	},
	1001:{
		category:"<%:category_1001%>", 
		content:"<%:category_1001 content%>"
	},
	1002:{
		category:"<%:category_1002%>", 
		content:"<%:category_1002 content%>"
	},
	1005:{
		category:"<%:category_1005%>", 
		content:"<%:category_1005 content%>"
	},
	1703:{
		category:"<%:category_1703%>", 
		content:"<%:category_1703 content%>"
	},
	1901:{
		category:"<%:category_1901%>", 
		content:"<%:category_1901 content%>"
	},
	901:{
		category:"<%:category_901%>", 
		content:"<%:category_901 content%>"
	},
	902:{
		category:"<%:category_902%>", 
		content:"<%:category_902 content%>"
	},
	1404:{
		category:"<%:category_1404%>", 
		content:"<%:category_1404 content%>"
	},
	2501:{
		category:"<%:category_2501%>", 
		content:"<%:category_2501 content%>"
	},
	2502:{
		category:"<%:category_2502%>", 
		content:"<%:category_2502 content%>"
	},
	2503:{
		category:"<%:category_2503%>", 
		content:"<%:category_2503 content%>"
	},
	2505:{
		category:"<%:category_2505%>", 
		content:"<%:category_2505 content%>"
	},
	2301:{
		category:"<%:category_2301%>", 
		content:"<%:category_2301 content%>"
	}	
};

function frmLoad(){

	var i = 0;
	var str = location.href;
	var qry_str = str.split("?")[1];
	var qry_pairs = qry_str.split("&");
	var param;
	var reason = 0;
	var cat_id = 0;
	
	for ( i = 0 ; i < qry_pairs.length ; i++ ) {
		param = qry_pairs[i].split("=");
		switch(param[0]) {
			case "reason":
				reason = parseInt(param[1], 10);
				break;
			case "category":
				cat_id = parseInt(param[1], 10);
				break;
			default:
				break;
		}
	}
	document.getElementById("reason_category").innerHTML = cateReasonMap[cat_id].category;
	document.getElementById("reason_content").innerHTML = cateReasonMap[cat_id].content;

	switch(reason) {
		case 1:
			document.getElementById("id1").style.display="block";
			break;
		case 2:
			document.getElementById("id2").style.display="block";
			break;
		case 3:
			document.getElementById("id3").style.display="block";
			break;
		case 4:
			document.getElementById("id4").style.display="block";
			break;
		case 5:
			document.getElementById("id5").style.display="block";
			break;
		default:
			break;
	}
}

</script>
</HEAD>
<BODY onLoad="frmLoad()">
<center>
<br/><br/><br/>
<div id="id1" style="display:none;">
	<table border="1">
		<tr><td>
			<table width="640">
				<tr><td><%:Block display by category server1%></td></tr>
				<tr><td><%:Block display by category server2%><font id="reason_category">[category]</font><%:Block display by category server3%></td></tr>
				<tr><td><%:Block display by category server4%><font id="reason_content">[content]</font><%:Block display by category server5%></td></tr>
				<tr><td><%:Block display by category server6%></td></tr>
				<tr><td><%:Block display by category server7%></td></tr>
				<tr><td><%:Block display by category server8%></td></tr>
			</table>
		</td></tr>
	</table>
</div>

<div id="id2" style="display:none">
	<table border="1">
		<tr><td>
			<table width="640">
				<tr><td><%:Block display by URL filter registration1%></td></tr>
				<tr><td><%:Block display by URL filter registration2%></td></tr>
				<tr><td><%:Block display by URL filter registration3%></td></tr>
			</table>
		</td></tr>
	</table>
</div>

<div id="id3" style="display:none">
	<table border="1">
		<tr><td>
			<table width="640">
				<tr><td><%:Display at the time of expiration of the license number1%></td></tr>
				<tr><td><%:Display at the time of expiration of the license number2%></td></tr>
				<tr><td><%:Display at the time of expiration of the license number3%></td></tr>
				<tr><td><%:Display at the time of expiration of the license number4%></td></tr>
				<tr><td><%:Display at the time of expiration of the license number5%></td></tr>
				<tr><td><%:Display at the time of expiration of the license number6%></td></tr>
				<tr><td><%:Display at the time of expiration of the license number7%></td></tr>
			</table>
		</td></tr>
	</table>
</div>

<div id="id4" style="display:none">
	<table border="1">
		<tr><td>
			<table width="640">
				<tr><td><%:Display when an invalid license number has been registered1%></td></tr>
				<tr><td><%:Display when an invalid license number has been registered2%></td></tr>
				<tr><td><%:Display when an invalid license number has been registered3%></td></tr>
				<tr><td><%:Display when an invalid license number has been registered4%></td></tr>
				<tr><td><%:Display when an invalid license number has been registered5%></td></tr>
				<tr><td><%:Display when an invalid license number has been registered6%></td></tr>
			</table>
		</td></tr>
	</table>
</div>

<div id="id5" style="display:none">
	<table border="1">
		<tr><td>
			<table width="640">
				<tr><td><%:Display of time, which can not be access to each server1%></td></tr>
				<tr><td><%:Display of time, which can not be access to each server2%></td></tr>
				<tr><td><%:Display of time, which can not be access to each server3%></td></tr>
				<tr><td><%:Display of time, which can not be access to each server4%></td></tr>
				<tr><td><%:Display of time, which can not be access to each server5%></td></tr>
				<tr><td><%:Display of time, which can not be access to each server6%></td></tr>
			</table>
		</td></tr>
	</table>
</div>	
</center>
</BODY>
</HTML>