<%+header%>
<script type="text/javascript" src="/luci-static/iodata/js/md5.js"></script>
<% 
	--MSTC,Olivia, need to get the password from background system configuration
	local ifce={}
	local ifce_num = 1;
	local sys_usr, sys_pswd
	--local sys_realm = (luci.sys.exec("fw_printenv | grep product | awk -F '=' '{print $2}'"):match("^([^%s]+)"))
	local sys_realm = (luci.sys.exec("cat /etc/openwrt_release | grep DISTRIB_PRODUCT | awk -F '\"' '{print $2}'"):match("^([^%s]+)"))

	uci.foreach("account", "http", 
		function(s)
			if (s.password ~= nil or s.password ~= "" ) then 
				ifce[ifce_num] = s[".name"]
				ifce_num = ifce_num+1
			end
			sys_usr = uci.get("account", ifce[1] , "user")
			sys_pswd = uci.get("account", ifce[1] , "password")
		end)
%>

<script type="text/javascript">

var url ="<%=controller%>/content/system_settings/password_settings"; //current page url
var sys_usr = "<%=sys_usr%>";
var sys_realm = "<%=sys_realm%>";
var sys_pswd = "<%=sys_pswd%>";
var magic = "<%=sys_usr%>"+":"+"<%=sys_realm%>"

function setFocus(field) {
	field.value = field.defaultValue;
	field.focus();
	return;
}

function btnApply() {
	var f = document.password_settings;

	var user = f.username.value;
	var oldPw = f.old_passwd.value;
	var newPw_1 = f.new_passwd_1.value;
	var newPw_2 = f.new_passwd_2.value;

	//new password typed twice should be the same
	if ( !(newPw_1 == newPw_2) ) {
		alert("<%:Please make sure the new password you input twice is the same.%>");
		setFocus(f.new_passwd_1);
		return false;
	}

	if ( !f.username.value.match(available_char_16) ) {
			alert("<%:Please input valid characters in username.%>");
			return false;
	}

	if (( !f.old_passwd.value.match(available_char_16)) 
			|| ( !f.new_passwd_1.value.match(available_char_16)) 
			|| ( !f.new_passwd_2.value.match(available_char_16))) {
			alert("<%:Please input valid characters in password.%>");
			return false;
	}

	var hash = calcMD5(magic+":"+oldPw);
	if ( sys_pswd != "" )
	{
		if( ! (sys_pswd == hash) ) {
			alert("<%:Please make sure the old password you input is corrected.%>");
			setFocus(f.old_passwd);
			return false;
		}
	}
	else
	{
		if ( oldPw != "" ){
			alert("<%:Please input the correct password.%>");
			setFocus(f.old_passwd);		
			return false;
		}
	}
	f.pwdhash.value = calcMD5(user+":"+sys_realm+":"+newPw_1);
	f.old_passwd.value = "";
	f.new_passwd_1.value = "";
	f.new_passwd_2.value = "";
	
	var verifyFlag = true;
	
	if(verifyFlag){
		//MBA Sean, show the waiting page & hide the original content
		document.getElementById("top_menu").style.display = 'none';
		document.getElementById("content").style.display = 'none';
		document.getElementById("waiting").style.display = 'block';
		//MBA Sean, start to countdown.
		waiting();

		//MBA Sean, using ajax to send POST to avoid server redirect the page when countdown is not finish yet
        $.ajax({
        type:"POST",
        url: url,
        data: $("#content_send").serialize(),// serializes the form's elements.
        });
		return false;
	}
	else {
		return false;
	}
}

<%
	--MBA Sean, get the waiting time, default is 30 secs
	local uci_t = require("luci.model.uci").cursor()
	local original_confdir = uci_t.get_confdir()
	uci_t.set_confdir("/etc/tmp_config")
	local waiting_time_uci = uci_t.get("web", "gui_config", "password_apply_waiting_time")
	local waiting_time = 5;
	
	if waiting_time_uci then
		waiting_time = waiting_time_uci
	end
	
	uci_t.set_confdir(original_confdir)
%>

var seconds=<%=waiting_time%>;
function waiting()
{
	(seconds <= 0) ? seconds=0 : seconds-=1;
	document.getElementById("wait_time").value = seconds;

	if(seconds == 0){
		// MBA Sean, when reboot, redirect to Status page (index)
		top.location.href = "<%=controller%>";
		return true;
	}

	setTimeout('waiting()',1000);
} 

//MBA Sean, Cancel Button script
function btnCancel()
{
	location.href=url;
	return true;
}

function frmLoad()
{
document.getElementById("username").value = sys_usr;
}
</script>

<div id="content">
<form id="content_send" name="password_settings">
<blockquote>
<p class="title"><%:You can change the current password with the Save button. Enter the new password twice to the text fields, and store it.%></p>
<table border="0" width="90%">
	<tbody>
		<tr>
			<td width="35%" class="background" style="text-align:left"><%:Enter Username%></td>
			<td width="65%"><input type="text" name="username" id="username" size="25" maxlength="12"/></td>
		</tr>
		<tr>
			<td width="35%" class="background" style="text-align:left"><%:Enter Old Password%></td>
			<td width="65%"><input type="password" name="old_passwd" id="old_passwd" size="25" maxlength="12"/></td>
		</tr>
		<tr>
			<td width="35%" class="background" style="text-align:left"><%:Enter New Password%></td>
			<td width="65%"><input type="password" name="new_passwd_1" id="new_passwd_1" size="25" maxlength="12"/></td>
		</tr>
		<tr>
			<td width="30%" class="background" style="text-align:left"><%:Re-type New Password%></td>
			<td width="65%"><input type="password" name="new_passwd_2" id="new_passwd_2" size="25" maxlength="12"/></td>
		</tr>

	</tbody>
</table>

<!-- MBA SW Sean, Buton template -->
<br>
<td><%:Characters that can be input alphanumeric string%></td>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="right">
	<tbody>
		<tr><td align="right">
		<input type="button" value="<%:Apply%>" onclick="btnApply()" width="105">
		<input type="hidden" name="apply" value="apply">
		<input type="hidden" name="pwdhash" id="pwdhash" value="">
		<input type="button" value="<%:Cancel%>" onclick="btnCancel()" width="105">

		</td>
		</tr>
	</tbody>
</table>
</blockquote>
</form> 
</div>

<%+footer%>
