.title_background
{
background-color:#344273;
color:#FFFFFF;
FONT-SIZE:12px; 	
font-weight:bold; 
font-family:MS PGothic;
}

.model_name
{
background-color:#344273;
color:#FFFFFF;
FONT-SIZE:13px; 
font-family:Verdana;
}

.main_menu
{
background-color:#344273;
}